# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Logs
logs/
*.log

# Git
.git
.gitignore

# IDE
.vscode/
.idea/

# Tests
tests/

# OS
.DS_Store
Thumbs.db

# Python cache
*.pyo
*.pyd

# Misc
*.sqlite3